[submodule "lib/components/espmqtt"]
	path = lib/components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "lib/components/components/espmqtt"]
	path = lib/components/components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "components/esp-mqtt"]
	path = components/esp-mqtt
	url = https://github.com/256dpi/esp-mqtt.git
