[submodule "lib/components/espmqtt"]
	path = lib/components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "lib/components/components/espmqtt"]
	path = lib/components/components/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
